<!DOCTYPE html>
<html>
  <head>
    <title>NewsAggregator</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <% if current_user %>
      <span><small>Logged in as <%= "#{session_info}" %></small></span>
      <span><small><%= link_to 'Logout', logout_path %></small></span>
    <% end %>

    <div id="flash">
      <% flash.each do |key, val|%>
        <div><%= val %></div>
      <% end %>
    </div>

    <%= yield %>
    
  </body>
</html>
